@use '../styles/partials/global' as *;

.game {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(252, 138, 157), rgb(248, 218, 218));

    &__click-count {
        font-size: 1.5rem;
        color: white;

        padding: 1rem 7rem;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}